# Virtual environment
venv/
env/
.venv/

# Byte-compiled / cached files
__pycache__/
*.pyc
*.pyo
*.pyd

# Logs and local environment files
*.log
.env
.envrc
.venvrc

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Pytest cache
.pytest_cache/

# MyPy
.mypy_cache/

# VS Code settings (if using VS Code)
.vscode/
.settings.json